*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html,body{
  display: grid;
  height: 100vh;
  place-items:center;
  background: #0e2a86;
}
.main_div{
  width: 365px;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #0e2a86(0, 0, 0, 0.15);
  font-family: Poppins-bold; /* Added font family */

}
.main_div .title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Arial', sans-serif; /* Added font family */

}

form {
  margin-top: 30px;
}
form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 25px; /* Adjusted border radius */
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: #0e2a86;
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box{
  display: flex;
  align-items: center;
}
.option_div span{
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a{
  font-size: 16px;
  color: #0e2a86;
}
.button input{
  padding-left: 0;
  background:#0e2a86 ;
  color: #fff;
  border: none;
  border-radius: 25px; /* Adjusted border radius */
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background: #0e2a86;
}
form .sign_up{
  text-align: center;
  margin-top: 25px;
}
.sign_up a{
  color: #0e2a86;
}
form a{
  text-decoration: none;
}
form a:hover{
  text-decoration: underline;
}
